<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">

            <input type="text" name="Buscar" placeholder="Buscar" class="buscar">
            
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>

        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-header-bottom-bar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta
                    <i class="fas fa-id-card"></i></a></li>
                <li><a href="login">Ingresá
                    <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras
                    <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
</header>
<main>
    <img src="/images/img-home-banner.jpg" class="banner">
    
    <h2>Sección: Basado en tu última visita</h2>
    
<div class="contenedor">
   
    <section class="caja1">
    <section class="articulo">
        <img src="/images/img-cafetera-moulinex.jpg" class="cafetera">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <div class="mismo-renglon">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>
            <p class="descripcion">Cafetera Moulinex</p>
        </div>
    </section>
    </section>

    <section class="caja2">
    <section class="articulo">
        <img src="/images/img-macbook-pro-2019.jpg" class="macbook">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <div class="mismo-renglon">
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            </div>
            <p class="descripcion">MacBook Pro 2019</p>
        </div>
    </section>
    </section>
  
    <section class="caja3">
    <section class="articulo">
        <img src="/images/img-samsung-galaxy-s10.jpg" class="samsung">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <div class="mismo-renglon">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            </div>
            <p class="descripcion">Samsung Galaxy S10</p>
        </div>
    </section>
    </section>
    
    <section class="caja4">
    <section class="articulo">
        <img src="/images/img-tv-samsung-smart.jpg" class="tv">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <div class="mismo-renglon">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            </div>
            <p class="descripcion">SmartTv Samsung 43"</p>
        </div>
    </section>
    </section>

</div>
    
<h2>Sección de Ofertas</h2>
    
<div class="contenedor">

    <section class="caja1">
    <section class="articulo">
        <img src="/images/img-cafetera-moulinex.jpg" class="cafetera">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <div class="mismo-renglon">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>
            <p class="descripcion">Cafetera Moulinex</p>
        </div>
    </section>
    </section>
    
    <section class="caja2">
    <section class="articulo">
        <img src="/images/img-macbook-pro-2019.jpg" class="macbook">
        <div class="caja"> 
        <i class="fas fa-truck"></i>
        <div class="mismo-renglon">
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
        </div>
            <p class="descripcion">MacBook Pro 2019</p>
        </div>
    </section>
    </section>

    <section class="caja3">
    <section class="articulo">
        <img src="/images/img-samsung-galaxy-s10.jpg" class="samsung">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <div class="mismo-renglon">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            </div>
            <p class="descripcion">Samsung Galaxy S10</p>
        </div>
    </section>
    </section>
    
    <section class="caja4">
    <section class="articulo">
        <img src="/images/img-tv-samsung-smart.jpg" class="tv">
        <div class="caja">
            <i class="fas fa-truck"></i>
            <div class="mismo-renglon">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            </div>
            <p class="descripcion">SmartTv Samsung 43"</p>
        </div>
    </section>
    </section>

</div>
    
</main>
<footer>
<div class="pie-de-pagina">
    <div class="parte1">
    <i class="fas fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="parte2">
    <i class="fas fa-gift"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="parte3">
    <i class="fas fa-user-shield"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
</div>
<h3 class="ultima-linea">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</footer>
</html>